<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>File Manager | Mandy Lane - Premium Admin Template</title>
<link rel="stylesheet" media="screen" href="css/style.css" />
<link rel="stylesheet" href="css/plugins/elfinder.css" type="text/css"/>
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/ie9.css"/>
<![endif]-->

<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/ie8.css"/>
<![endif]-->

<!--[if IE 7]>
    <link rel="stylesheet" media="screen" href="css/ie7.css"/>
<![endif]-->

<script type="text/javascript" src="<?php echo base_url(); ?>js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>js/plugins/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>js/custom/general.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>assets/js/custom/general.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>js/plugins/elfinder.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('#fileManager').elfinder({
		url : 'php/connector.php',
	})
});
</script>

</head>

<body class="bodyemail">
<div class="header">
 
    
    


    <!--logo-->
	<a href=""><img src="<?php echo base_url(); ?>images/logo2.png" alt="Logo" /></a>
    
    
    
    <!--info-->
    </div><!--accountinfo-->
</div><!--header-->



    


<div class="maincontent">

  <table cellpadding="0" cellspacing="0" class="invoicetable" width="100%">
                	<thead>
                    	<tr>
                        	<td width="40%">Description</td>
                            <td width="30%" align="right">Hours Billed</td>
                            <td width="30%" align="right">Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr>
                        	<td colspan="3">&nbsp;</td> 
                        </tr>
                    	<tr>
                        	<td>Logo Design</td> 
                            <td align="right">12.5</td>
                            <td align="right">$ 500.00</td>
                        </tr>
                        <tr>
                        	<td>PSD Layout</td> 
                            <td align="right">22.5</td>
                            <td align="right">$ 980.00</td>
                        </tr>
                        <tr class="subtotal">
                        	<td>Design Subtotal</td> 
                            <td align="right">122.5</td>
                            <td align="right">$ 1 675.00</td>
                        </tr>
                        <tr>
                        	<td colspan="3">&nbsp;</td> 
                        </tr>
                        <tr>
                        	<td>HTML/CSS</td> 
                            <td align="right">40</td>
                            <td align="right">$ 3 000.00</td>
                        </tr>
                        <tr>
                        	<td>Backend Integration</td> 
                            <td align="right">55</td>
                            <td align="right">$ 4 980.00</td>
                        </tr>
                        <tr>
                        	<td>Database Design</td> 
                            <td align="right">18</td>
                            <td align="right">$ 1 480.00</td>
                        </tr>
                        <tr class="subtotal">
                        	<td>Coding Subtotal</td> 
                            <td align="right">233</td>
                            <td align="right">$ 6 175.00</td>
                        </tr>
                        <tr>
                        	<td colspan="3">&nbsp;</td> 
                        </tr>
                        <tr>
                        	<td>Domain</td> 
                            <td align="right">2 years</td>
                            <td align="right">$ 22.00</td>
                        </tr>
                        <tr>
                        	<td>Hosting</td> 
                            <td align="right">3 years</td>
                            <td align="right">$ 300.00</td>
                        </tr>
                        <tr class="subtotal">
                        	<td>Server Subtotal</td> 
                            <td align="right">n/a</td>
                            <td align="right">$ 322.00</td>
                        </tr>
                        <tr>
                        	<td colspan="3" class="line">&nbsp;</td> 
                        </tr>
                        <tr>
                        	<td colspan="3">&nbsp;</td> 
                        </tr>
                        <tr class="subtotal">
                        	<td>SUB-TOTAL</td> 
                            <td align="right">32</td>
                            <td align="right">$ 8 322.00</td>
                        </tr>
                        <tr>
                        	<td><em>*4.5% Sales Tax</em></td> 
                            <td align="right">&nbsp;</td>
                            <td align="right"><em>$ 122.00</em></td>
                        </tr>
                        <tr>
                        	<td colspan="3">&nbsp;</td> 
                        </tr>
                        <tr class="subtotal">
                        	<td>TOTAL</td> 
                            <td align="right">&nbsp;</td>
                            <td align="right" class="bordertop">$ 8 622.00</td>
                        </tr>
                    </tbody>
                </table>
	
    
    
</div><!--maincontent-->

<br />
<div class="footer footer_float">
	<div class="footerinner">
    	&copy; 2011. Mandy Lane Premium Template. All Rights Reserved.
    </div><!-- footerinner -->
</div><!-- footer -->

</body>
</html>
